html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgba(23, 25, 27, 0.8);

  border-radius: 3px;
}

html::-webkit-scrollbar-track {
  background: rgba(43, 45, 47, 1);
}

html::-webkit-scrollbar-button {
  background: rgba(43, 45, 47, 1);
}
html::-webkit-scrollbar-corner {
  background: rgba(43, 45, 47, 1);
}

html {
  background: rgba(43, 45, 47, 1);
  overflow-y: scroll;
  margin-bottom: 1px;
  height: 100%;
}

.document h2 {
  background: linear-gradient(transparent 60%, #805151 50%);
  font-size: 22px;
  font-weight: 600;
}

.document h3 {
  background: linear-gradient(transparent 60%, #442f2f 50%);
  font-size: 18px;
  font-weight: 300;
}
